@import '../../../sass/variables';

.beer {
  border: 1px solid $light-gray;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.thumb {
  max-height: 0;
  max-width: 150px;
  width: auto;
  height: auto;

  &.loaded {
    max-height: 150px;
  }
}

.name {
  color: $dark-gray;
  font-size: 1em;
  margin-top: 20px;
  height: 3em;
}
