@import '/../sass/variables';

main {
  padding: 6% 0;
}

header {
  background: $violet;
  text-align: center;
  padding:60px 0;
}

.app-title,
.app-desc {
  color:#fff;

  span {
    font-weight: lighter;
  }
}
