/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:400,700&subset=latin-ext');
@import './sass/variables';

body {
  background-color:$background;
  color:$dark-gray;
  font: {
    family: 'Encode Sans Expanded', sans-serif;
    size: 17px;
  }
}

img {
  max-width:100%;
  height:auto;
}

h1, h2, h3, h4, h5, h6 {
  color: $violet;
  font-weight: bold;
}

.tagline {
  color: $light-gray;
}
